<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    Welcome to X-Team &#12484;
  </h1>
</div>
<!-- CheckBox Start -->
<mat-checkbox
  #showDetails
  value=""
  [checked]="isChecked"
  (change)="onChange($event)">
  Show Details
</mat-checkbox>

<span *ngIf="showDetails.checked">Some Details ...</span>
<br>
<!-- CheckBox end -->

<!-- RadioButton start -->
<mat-radio-group [(ngModel)]="radioValue">
  <mat-radio-button value="male">Male</mat-radio-button>
  <mat-radio-button 
    value="female"
    >Female</mat-radio-button>
</mat-radio-group>

<span> Radio Button is: {{ radioValue }}</span>
<br>
<!-- RadioButton end -->

<!-- DropDown Select Start -->
<mat-form-field>
  <mat-select placeholder="Favorite Food" [(value)]="selected">
    <mat-option 
      *ngFor="let food of foods"
      [value]="food.name">
      {{ food.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<span>You Selected: {{ selected }}</span>
<br>
<!-- DropDown Select End -->

<!-- Input start -->
<form>
  <mat-form-field>
    <input 
      matInput
      placeholder="Email"
      [formControl]="emailFormControl">
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error 
      *ngIf="emailFormControl.hasError('email') && 
        !emailFormControl.hasError('required')">
      Please enter a valid email address 
      </mat-error>
    <mat-error
      *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <span matPrefix>+2 &nbsp;</span>
    <input 
      matInput
      placeholder="Telephone"
      type="tel">
    <mat-icon matSuffix>smartphone</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <textarea 
      matInput
      placeholder="AutoSize TextArea"
      matTextareaAutosize
      matAutosizeMaxRows="5">
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      [min]="minDate"
      [max]="maxDate"
      [matDatepickerFilter]="myFilter"
      [formControl]="dateControl"
      (focus)="picker.open()"
      placeholder="Choose a date">
    <mat-datepicker-toggle
      matSuffix
      [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker 
      #picker
      touchUi="true">
    </mat-datepicker>
  </mat-form-field>
</form>
<!-- Input End -->

<!-- Button Start -->
<button mat-button color="primary">Primary</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-icon-button>
  <mat-icon color="warn">favorite</mat-icon>
</button>
<button mat-fab color="primary">
  <mat-icon>autorenew</mat-icon>
</button>
<button mat-mini-fab color="accent">
  <mat-icon>check</mat-icon>
</button>
<!-- Button End -->

<!-- Chips Start -->
<mat-chip-list>
  <mat-chip
    *ngFor="let category of categories"
    (click)="selectCategory(category)"
    [selected]="category.selected">
    {{ category.name }}
  </mat-chip>
</mat-chip-list>
<!-- Chips End -->

<!-- Progress Spinner Start -->
<mat-spinner
  *ngIf = "isLoading"
  mode="indetermine">
</mat-spinner>
<!-- Progress Spinner End -->

<!-- Tooltip Start -->
<span 
  matTooltip="Tooltip!"
   matTooltipPosition="after">
  I have a tooltip
</span>
<!-- Tooltip End -->

<!-- Tabs Start -->
<mat-tab-group>
  <mat-tab label="Home">Home</mat-tab>
  <mat-tab label="About">About</mat-tab>
</mat-tab-group>
<!-- Tabs Start -->

<!-- Dialog Start -->
<button 
  mat-raised-button
  (click)="openDialog()">
  Open Dialog
</button>
<!-- Dialog End -->

<!-- AutoComplete start -->
<form>
  <mat-form-field>
    <input 
      matInput
      [formControl]="autocompleteControl"
      [matAutocomplete]="auto"
      type="text"
      placeholder="Pick One"> 
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" value="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!-- AutoComplete End -->

<!-- Menu Start -->
<button
  mat-raised-button
  color="primary"
  [matMenuTriggerFor]="menu">
  Menu
</button>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    [matMenuTriggerFor]="sub1">
    <mat-icon>dialpad</mat-icon>
    <span>SubMenu 1</span>
  </button>
  <button 
    mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span> SubMenu 2</span>
  </button>
</mat-menu>

<mat-menu #sub1="matMenu">
  <button
    mat-menu-item
    [matMenuTriggerFor]="sub1Sub1">
    <mat-icon>notifications_off</mat-icon>
    <span>Sub1 Sub1</span>
  </button>
  <button 
    mat-menu-item>
    Sub1 Sub2
  </button>
</mat-menu>

<mat-menu #sub1Sub1="matMenu">
  <button mat-menu-item>
    Sub1 Sub1 Sub1
  </button>
  <button mat-menu-item>
    Sub1 Sub1 Sub2
  </button>
</mat-menu>
<!-- Menu End -->

<router-outlet></router-outlet>
